<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTrackerIndia</title>
</head>
<body>
    <div>Welcome to MyTrackerIndia! Track <a href="mypayindia.com">MyPayIndia</a> statistics, like balance history and maybe more!</div>
    <a href="/leaderboard/total_money">ppl with da most muny $$$</a>
    <a href="/leaderboard/made_in_24h">ppl that made de most in da last 24 ours</a>
    <a href="/sign_up">Sign Up</a>
    <form action="/search" method="GET">
        {{ search.user }}
        <button type="submit" title="submit">submit</button>
    </form>
</body>
</html>