<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTrackerIndia</title>
</head>
<body>
    {{ message }}
    <form action="/sign_up" method="post">
        {{ sign_up.csrf_token }}
        {{ sign_up.name.label }} {{ sign_up.name }}
        {{ sign_up.password.label }} {{ sign_up.password }}
        {{ sign_up.auth_code.label }} {{ sign_up.auth_code }}
        <button type="submit" title="submit">submit</button>
    </form>
    note: if you want to remove access to your account, you just need to invalidate every session from an Unknown OS. 
    <a href="https://mypayindia.com/accountservices/accsettings" >MyPayIndia settings</a>
</body>
</html>
